.productOptionViewProductPickListWithImage .scrollContainer {
    padding: 1px;
    max-height: none;
}
.productAttributeList .required {
    color: red;
    margin-left: -10px;
}
#Dimmer {
    background-color: #000;
    opacity: .6667;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4000;
}
.mobile-dateselector {
    border: 1px solid #282726;
    text-align: center;
    width: 80px;
    display: inline-block;
    -webkit-background-origin: padding-box;
    -webkit-background-clip: border-box;
    -webkit-border-radius: 6px;
    background-origin: padding-box;
    background-clip: border-box;
    border-radius: 6px;
}
#CartEditProductFieldsForm .productAttributeLabel {
    display: block;
    float: none;
    margin: 0 0 10px;
    width: auto;
}
#CartEditProductFieldsForm .productAttributeRow {
    padding-left: 0;
    width: auto;
    margin-bottom: 15px;
}
.productAttributeList .productAttributeRow {
    padding-left: 0 !important;
    margin-top: 0;
}
.productOptionPickListSwatch .thumbnail,
.productOptionPickListSwatch .swatchColour {
    width: 40px !important;
    height: 40px !important;
    background-size: 100%;
}
.productOptionPickListSwatch .selectedValue .textureContainer,
.productOptionPickListSwatch .selectedValue .swatchColours {
    border-color: #000 !important;
}
html.javascript .productOptionViewRectangle label {
    padding: 0 10px !important;
    min-width: 38px;
    text-align: center;
    font-family: 'Montserrat',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 38px;
    min-width: 23px;
    border: solid #ebebeb 1px !important;
    margin: 0 10px 10px 0;
    color: #999;
}
html.javascript .productOptionViewRectangle .selectedValue label {
    border: solid #000 1px !important;
    color: #000;
}
.productOptionPickListSwatch .textureContainer,
.productOptionPickListSwatch .swatchColours {
    border: 1px solid #ebebeb;
    display: inline-block;
    padding: 1px;
    position: relative;
    margin-bottom: 0;
}
.productOptionPickListSwatch .selectedValue .textureContainer,
.productOptionPickListSwatch .selectedValue .swatchColours {
    border-color: #000;
    border-width: 1px;
    padding: 1px;
}
.productOptionPickListSwatch ul,
.productOptionViewRectangle ul {
    margin: 0;
    font-size: 0;
}
.productAttributeList .productAttributeLabel {
    display: block;
    float: none;
    font-weight: 400;
    margin: 0 0 15px 0;
    padding-top: 0;
    position: relative;
    width: auto;
    text-align: left;
    letter-spacing: 1px;
    font: 400 11px/110% 'Montserrat',Arial,Helvetica,sans-serif;
}
.productOptionViewRectangle label, 
html.javascript .productOptionPickListSwatch label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 0;
}